.secnav_parent {
  color: black;
  background-color: transparent;
}

.secnav_tabs {
  position: relative;
  text-align: left;
}

.secnav_tabs_list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 110px;
  padding-inline-start: 0px;
 
}

.secnav_tabs_list_item {
  padding: 15px 0 0;
  display: flex;
  margin: 0 20px;
  font-weight: bold;
  color: black;
}

.secnav_tabs_list_item a {
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  position: relative;
  background-color: transparent;
}

.secnav_tabs_list_item.active a {
  color: red;
}

.secnav_tabs_list_item a:hover {
  color: red;
  text-decoration: none;
}

.secnav_tabs_list_item a:before,
.secnav_tabs_list_item.active a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: red;
  transition: width 0.3s ease-out;
}

.secnav_tabs_list_item a:hover:before,
.secnav_tabs_list_item.active a:before {
  width: 100%;
}

.secnav_tabs_list_item.active a:before {
  display: block;
}

.secnav_tabs_wrap {
  width: 100%;
}

.secnav_image {
  margin-top: 20px;
  height: 15em;
  width: 20em;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.secnav_infoblock {
  display: inline-block;
  color: black;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  height: 15em;
  width: 28em;
  font-size: 20px;
  line-height: 24px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.secnav_infoblock > span {
  margin-top: 30px;
  font-size: 30px;
  font-style: normal;
}

.secnav_infoblock > p {
  margin-top: 60px;
  font-size: 20px;
  font-style: normal;
}

.secnav_tab_inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  transition: height 0.9s ease-in-out;
}

.secnav_tab_inner.animating .secnav_image,
.secnav_tab_inner.animating .secnav_infoblock {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.secnav_image.secnav_fade_in,
.secnav_infoblock.secnav_fade_in {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.secnav_image.secnav_fade_out,
.secnav_infoblock.secnav_fade_out {
  opacity: 0;
}

.secnav_image.secnav_fade_in,
.secnav_infoblock.secnav_fade_in {
  opacity: 1;
}

.secnav_image,
.secnav_infoblock {
  opacity: 1;
  transition: opacity 4s ease-in-out;
}

.secnav_image.active,
.secnav_infoblock.active {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.secnav_parent {
  color: black;
  background-color: transparent;
}

.secnav_tabs {
  position: relative;
  text-align: left;
}

.secnav_tabs_list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 110px;
  padding-inline-start: 0px;
}

.secnav_tabs_list_item {
  padding: 15px 0 0;
  display: flex;
  margin: 0 20px;
  font-weight: bold;
  color: black;
}

.secnav_tabs_list_item a {
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  position: relative;
  background-color: transparent;
}

.secnav_tabs_list_item.active a {
  color: red;
}

.secnav_tabs_list_item a:hover {
  color: red;
  text-decoration: none;
}

.secnav_tabs_list_item a:before,
.secnav_tabs_list_item.active a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: red;
  transition: width 0.3s ease-out;
}

.secnav_tabs_list_item a:hover:before,
.secnav_tabs_list_item.active a:before {
  width: 100%;
}

.secnav_tabs_list_item.active a:before {
  display: block;
}

.secnav_tabs_wrap {
  width: 100%;
}

.secnav_tab_inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  transition: height 3s ease-in-out;
}

.secnav_tab_inner.animating .secnav_image,
.secnav_tab_inner.animating .secnav_infoblock {
  opacity: 0;
}
