html, body {
  padding: 0;
  margin:0;
  border: 0;
  background-color: ghostwhite;
}


.App {
  text-align: center;
  /* border: 1px solid green; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.product-service-container {
  color: black;
  overflow:hidden;
  height: 500px;
  float: left;
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */
  
}

.prodserv-card-container {
  margin: 0 10px;
  /* border: 1px solid orange; */
}

.product-service-header {
  color: black;
  display: inline;
}

.prodserv-container {
  height:fit-content;
  border-radius: 8px;
  border: 1px solid ghostwhite;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}